/project/to_delete/
/project/misc/_csv_results/
/project/misc/_plot_figures1/
/project/misc/_plot_figures2/
/project/misc/analyze_results/
/project/misc/analyze_resnet_kernels_selectivity.py
.idea
/project/data/utils/samples_after_normalization/
/project/data/utils/samples_before_normalization/
